<IfModule mod_rewrite.c>

    RewriteEngine On

 

    # Página de contato

    RewriteRule ^relatorios/?$ index.php?module=relatorios&acao=rel_adm [NC]

    # Página de exibição de um produto

    #RewriteRule ^produtos/([a-z0-9-]+)/([0-9]+)/?$ /produtos.php?id=$2&nome=$1 [NC]

</IfModule>
